@keyframes glowing {
  0% { background-color: #F21E2B; box-shadow: 0 0 3px #F21E2B; }
  50% { background-color: #ff3f4c; box-shadow: 0 0 10px #ff3f4c; }
  100% { background-color: #F21E2B; box-shadow: 0 0 3px #F21E2B; }
}