$themes: (
  light: (
    scroll-bg: $grey,
    scroll-thumb: $light-blue,
    scroll-thumb-hover: $dark-blue,
    backgroundColor: $white,
    altBackgroundColor:$white,
    border: $light-blue,
    textColor: $txt-blue,
    linkColor: $blue,
    toggle-bg: $grey-lighten-1,
    active-toggle-bg: $green,
    toggle-border: $grey-lighten-1,
    bg: $light-bg,
    outline: $blue,
  ),
  dark: (
    scroll-bg: $scrl-bg-blue,
    scroll-thumb:$srcrl-thumb-blue,
    scroll-thumb-hover: $bg-blue,
    backgroundColor: $bg-blue,
    altBackgroundColor:$alt-bg-blue,
    border: $txt-blue,
    textColor: $white,
    linkColor: $light-blue,
    toggle-bg: $toggle-dark-bg,
    active-toggle-bg: $blue,
    toggle-border: $txt-blue,
    bg: $dark-bg,
    outline: $white,
  ),
);

.theme-dark {
  background-color: $dark-bg;
}

.theme-light {
  background-color: $light-bg;
}