$white: #ffffff;
$grey: #fafafa;
$grey-lighten-1: #eeeeee;
$light-blue: #a9c7df;
$dark-blue: #8eacc5;
$blue: #0093ee;
$txt-blue: #313d4f;
$scrl-bg-blue: #273142;
$srcrl-thumb-blue: #1b2431;
$bg-blue: #171e29;
$alt-bg-blue: #222c3c;
$toggle-dark-bg: #25374f;
$red: red;
$green: #4caf50;
$light-green: #e8f5e9;
$light-bg: #ffffff;
$dark-bg: #171e29;