$white: #FFFFFF;
$grey: #FAFAFA;
$light-blue: #A9C7DF;
$dark-blue: #8EACC5;
$blue: #0093EE;
$txt-blue: #313D4F;
$scrl-bg-blue: #273142;
$srcrl-thumb-blue: #1B2431;
$bg-blue: #171E29;
$alt-bg-blue: #222C3C;