$white: #FFFFFF;
$grey: #FAFAFA;
$grey-lighten-1: #EEEEEE;
$light-blue: #A9C7DF;
$dark-blue: #8EACC5;
$blue: #0093EE;
$txt-blue: #313D4F;
$scrl-bg-blue: #273142;
$srcrl-thumb-blue: #1B2431;
$bg-blue: #171E29;
$alt-bg-blue: #222C3C;
$toggle-dark-bg: #25374F;
$red: red;
$green: #4CAF50;
$light-green: #E8F5E9;